<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Verified!</title>
    <style>
        body {
            display: flex;
            background-color: black;
            justify-content: center;
            align-items: center;
            height: 100vh;
            margin: 0;
        }
        div {
            font-family: Arial, sans-serif;
            color: white;
            font-size: 72px;
            font-weight: bold;
            text-align: center;
        }
    </style>
</head>
<body>
    <div>Successfully verified!<br>You can now close this page.</div>
</body>
</html>
